"**.project/"
"**.project"
**.project/*
"**.idea/"
"**.idea"
**.idea/*
"**.iml"
"**/target/"
"**/target"
**/target/*
"**/bin/"
"**/bin"
**/bin/*
.project
.classpath
*.jar
*.lst
*.class
*.idea
*.iml
*.log
"**/server/updates/**"
**/server/updates/**
**/server/logs/**
"**/server/logs/**"
