
<div ng-controller="AccountController">

    <br/>

    <div ng-if="!authorised()" id="unauthorized" class="">
        <div class="alert alert-danger">Login has expired, please refresh the page and login again</div>
    </div>

    <div ng-if="authorised()" id="authorized">

        <div class="main">
            <h1 class="page-header">Account</h1>
            <br/>
            This page should have news items - what needs to be done - and allow profile editing.
        </div>

    </div>
</div>