
<div ng-controller="CompetitionsController">

    <br/>

    <div ng-if="!authorised()" id="unauthorized" class="">
        <div class="alert alert-danger">Login has expired, please refresh the page and login again</div>
    </div>

    <div ng-if="authorised()" id="authorized">
        <div class="main">
            <h1 class="page-header">Competitions</h1>
            <br/>
            This page should allow a user to enter a competition until entries are disabled.
        </div>
    </div>
</div>