
<div ng-controller="HomeController">

    <br/>

    <div ng-if="!user || !user.name || !user.token" id="unauthorized" class="">
        <div class="alert alert-danger">Please login</div>
    </div>

    <div ng-if="user && user.name && user.token" id="authorized">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Today's Races</h3>
            </div>
            <div class="panel-body">
                <div>&nbsp;</div>
                <div class="alert alert-success"><span class="glyphicon glyphicon-eye-open"/> Scheduler Running <span class="navbar-right"><span class="glyphicon glyphicon-info-sign"/>&nbsp;</span></div>
                <div class="alert alert-danger" hidden="true"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"/> Scheduler Paused <span class="navbar-right"><span class="glyphicon glyphicon-info-sign"/>&nbsp;</span></div>
                <div class="alert alert-success"><span class="glyphicon glyphicon-ok"/> Updated Today <span class="navbar-right"><span class="glyphicon glyphicon-info-sign"/>&nbsp;</span></div>
                <div  class="alert alert-danger" hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"/> Not Updated Today <span class="navbar-right"><span class="glyphicon glyphicon-info-sign"/>&nbsp;</span></div>
                <div class="alert alert-info"><span class="glyphicon glyphicon-time"/> Last Updated <span class="navbar-right"><span class="glyphicon glyphicon-info-sign"/>&nbsp;</span></div>
                <div>&nbsp;</div>
                <div class="input-group input-group-lg navbar-right">
                    <span><button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-refresh" title="Refresh"/></button></span>
                    <span><button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-list" title="List Today's Races"/></button></span>
                    <span><button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-cog" title="Configure Today's Scheduler"/></button></span>
                    <span><button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-off" title="Toggle Scheduler On/Off"/></button></span>
                    <span>&nbsp;</span>
                </div>
                <div>&nbsp;</div>
            </div>
        </div>
    </div>
</div>